.activeBox{
	width: 20%;
	margin: 10px auto;
	padding: 2%;
	border: 2px solid black;
	color: white;
	font-size: 25px;
	background: green;
	position: absolute;
	left: 40%;
}

.invisibleBox{
	display: none;
}